.navbar {
    width: 100%;
    height: 75px;
    background: $grey;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    color: white;
    align-items: center;
    img {
        height: 75%;
        width: auto;
    }
    .navbar-left {
        display: flex;
        align-items: center;
        width: 33vw;
        height: 100%;
        h1 {
            margin-left: 10px;
            font-size: 30px;
        }
    }
    .navbar-links {
        display: flex;
        width: 25vw;
        justify-content: space-between;
        font-size: 25px;
    }
}

a:link {
    color: white;
}

a:visited {
    color: white;
}
a:hover {
    color: $blue;
}
a {
    text-decoration: none;
}